<!DOCTYPE html>
<html lang="ru">
<head>
    <title>2-3 Олег Ошаев</title>
    {% block stylesheets %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
